.Header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background: white;
	padding-block: 7px;
	border-bottom: 1px solid #e7e8ec;

	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.auth {
			display: flex;
			gap: 25px;
			justify-content: center;
			align-items: center;
			a {
				display: block;
				padding: 15px 10px;
			}
		}
	}
}
